
 <head>
    <style>

 * {
            background: #193269;
            color: white;
        }

.header{
text-align: left;
}

.post{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    </style>
  </head>

<body>
    <div class="header">
<h1>{{author}} says</h1>
<img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" width="200" height="200">
</div>

<div class="post">
<p> {{post.date}} </p>
<p> {{post.message}} </p>
<img src="{{post.photo}}" width="500" height="333">
<p>Likes</p>
<p>Comments</p>
</div>



</body>




