body {
  background: #193269;
  color: white;
  /* width:95vw; */
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffffff
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #193269;
  overflow: hidden;
  width: 90vw;
  margin: auto;
  display:block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(180, 180, 180);
  color: black;
}

.topnav a.active {
  background-color: rgb(180, 180, 180);
  color: black;
}

.logout {
  float: right;
  background-color: #000000;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.logout:hover {
  background-color: rgb(180, 180, 180);
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
}

/* post feed page */

.new-post-link{
  display: block;
  text-align: right;
}

.post-block{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post-block:hover{
  background: #1f3b79;
  box-shadow: rgba(0, 0, 150, 0.35) 0px 5px 15px;
}