<h1>Sign Up</h1>
{{#if emailinuse}}
<div>
  <p id="email-error"> Email already in use, try another! </p>
</div>
{{/if}}
<form id="new-user-form" action="/users" method="post">
<div>
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
</div>
<div>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" value="">
</div>
  <input id="submit" type="submit" value="Submit">
</form>
