<h1>Post Feed</h1>
<ul class="posts">
  {{#each posts}}
  <div class="post-block">
    <li>{{this.message}}</li> 
    <li>{{this.likes.count}} likes</li>
    <li>date: {{this.date}}</li>
  </div>
  <p></p>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
