 <head>
    <style>
.new-post-link{
  text-align: right;
}

    </style>
  </head>


<h1>Post Feed</h1>

<a class="new-post-link" href="/posts/new">create new post</a>
<ul class="posts">
  {{#each posts as |post|}}
  <div class="post-block">
    <img src="> https://cdn-icons-png.flaticon.com/512/194/194938.png</li" width="100" height="100">
    <p>{{this.message}}</p> 
    <p>{{this.likes.count}} likes</p>
    <p>{{post.comments}} comments</p>
    <p>{{this.date}}</p>
    <a href="http://localhost:3030/singlepost?id=">view post</a>
  </div>
  <p></p>
  {{/each}}
</ul>

{{!"http://localhost:3030/singlepost?id=" + }}
{{!{post._id}}

