<h1>Timeline</h1>
<ul class="posts">
  {{#each posts as |post|}}
  <div class="post-block">
    <li>{{post.message}}</li> 
    <li>{{post.likes}} likes</li>
    <li>{{post.date}}</li>
  </div>
  <p></p>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
